:root {
  --bg: #dedede;
  --text: #ffffff;
  --text-dark: #000000;

  --red: #de1537;
  --darker-red: #8f0c25;

  --details: #4ca459;

  --pokemon-text-color: #ffcc0e;
  --pokemon-text-border: #4152cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--bg);
}
